# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml



# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
env/
venv/

# Flask debug logs
*.log

# Environment variables
.env
.env.*

# Cache and temporary files
*.swp
.DS_Store
*.bak
*.tmp

# Python egg files
*.egg
*.egg-info/
dist/
build/

# IDE configurations
.idea/
.vscode/

# SSL certificates (if local)
certs/

# Docker-related
*.pid
.dockerignore